<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark">
      <%= link_to raw('<i class="fa fa-gavel" aria-hidden="true"></i>
Wikinimuos!'), '/', class: "navbar-brand" %>
  <%= link_to "Submit article", new_article_path, class: "btn btn-primary mx-auto"  %>
    </nav>
    <!-- Body -->
    <%= yield %>
  </body>
</html>
